name: Shell Command

on: 
  push:
    branches:
      - feature1

jobs:
  run-shell-command:
    runs-on: ubuntu-latest
    steps:
      - name: echo a string
        run: echo "Hello World"
      - name: multiple script
        run: |
          node -v
          npm -v
      - name: python Command
        run: print ("Good Morning")
        shell: python 
  run-windows-commands:
    runs-on: windows-latest
    needs: ["run-shell-command"]
    steps:
      - name: Directory PowerShell
        run: Get-Location
      - name: Directory Bash
        run: pwd
        shell: bash
      - name: call as api
        run: gh api -X POST -H "Accept:application/vnd.github.v3+json" -H "Authorization:GITHUB_TOKEN" https://api.github.com/repos/rkrupesh44/test_gitaction/actions/workflows/sample.yml/dispatches -d '{"ref":"feature1"}'
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

